{% extends "base.html" %}

{% block content %}
<main>

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Projects</h1>
        <p class="lead">Here are all my projects that i have created by now, all of them are coded in python .</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">

          <a type="button" class="btn btn-outline-dark btn-lg px-4" href="https://github.com/steve1satin1?tab=repositories">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
            </svg>
            Github
          </a>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="static/Coding2.jpg" alt="" width="720">
      </div>
    </div>
  </div>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for item in prj %}
        <div class="col">
          <div class="card border border-1 border-dark">
            <div class="img border border-dark">
              <img src="{{ item.image_url }}" height='225' class="rounded mx-auto d-block ">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text">{{item.small_des}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{url_for('view_project', project_id=item.id)}}" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                  <a href="{{item.github_url}}" type="button" class="btn btn-sm btn-outline-secondary">Github</a>
                  {% if current_user.is_authenticated %}
                    <a href="{{url_for('edit', project_id=item.id)}}" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                    <button type="button" class="btn btn-sm btn-danger" onclick="confirmAction()">Delete</button>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>

        <script>
        function confirmAction() {
            var confirmation = confirm("Are you sure you want to Delete Project?");
            if (confirmation) {
                // If confirmed, you might redirect or perform an action
                window.location.href = "{{ url_for('delete', project_id=item.id) }}"; // Replace 'proceed_action' with your Flask route
            } else {
                // If not confirmed, you can handle that here
                // e.g., do nothing or provide a message to the user
                window.location.href = "{{ url_for('projects') }}";
            }
        }
        </script>

        {% endfor %}
      </div>
    </div>
  </div>

</main>
{% endblock %}